* {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #424242;
	user-select: none;
}

.wrapper {
	position: relative;
	width: 900px;
	height: 320px;
	border: 1px solid #424242;
	margin: 100px auto 20px;
}

.shade {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 320px;
	opacity: 0.7;
}
.shade ul li {
	width: 18px;
	height: 18px;
	border: 1px solid #424242;
	float: left;
	background-color: #aaa;
}

.map {
	display: inline-block;
	width: 600px;
	height: 320px;
}
.map ul li {
	width: 18px;
	height: 18px;
	border: 1px solid #424242;
	float: left;
	text-align: center;
	line-height: 18px;
}

.panel {
	display: inline-block;
	width: 300px;
	height: 320px;
	vertical-align: top;
	border: 1px solid #424242;
	box-sizing: border-box;
}

.btn-start {
	width: 100%;
	height: 40px;
	padding-top: 10px;
}
.btn-start .btn {
	width: 50%;
	height: 30px;
	background-color: #666;
	color: #fcfcfc;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	margin: 0 auto;
}

.info {
	width: 100%;
	height: 50px;
	border-top: 1px solid #424242;
	border-bottom: 1px solid #424242;
	box-sizing: border-box;
}
.info .num,
.info .time {
	display: inline-block;
	height: 50px;
	width: 50%;
	font-size: 14px;
	vertical-align: top;
	text-align: center;
	line-height: 50px;
}

.help {
	height: 220px;
	font-size: 12px;
	padding: 10px;
}

.confirm {
	margin: 0 auto;
	width: 200px;
	height: 50px;
	border: 4px solid #424242;
	text-align: center;
	line-height: 50px;
	border-radius: 6px;
	display: none;
}


.mine {
	background-color: #424242;
}
.path {
	background-color: #fff;
}
.number {
	background-color: #E7F5F2;
}

